---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import logo from '../../../Verss/app/assets/adaptive-icon.png'
import PortraitIndex from '../components/PortraitIndex.astro';

---

<Layout title="Welcome to Verss">
	<!-- #example1 {
		background-image: url(img_flwr.gif), url(paper.gif);
		background-position: right bottom, left top;
		background-repeat: no-repeat, repeat;
	  } -->
	<main>
		<div>
			<img src={logo} class = logo alt="Welcome to Verss"/>
			<h1>Welcome to Verss</h1>
			<p class="instructions">
				Looking for more than just a swipe? Say hello to Verss, the social media app that goes beyond superficial profiles and embraces the power of authentic communication.
			</p>
			<ul role="list" class="link-card-grid">
				<Card
					href="/how/"
					title="How it works"
					body="Tired of being described by an algorithm? Go back to the basics."
				/>
				<Card
					href="/philosophy/"
					title="Our philosophy"
					body="How do you build meaningful conections?"
				/>
				<Card
					href="/privacy/"
					title="Privacy"
					body="Our privacy policy."
				/>
				<Card
					href="/support/"
					title="Support"
					body="Contact us for support or feedback."
				/>
			</ul>
		</div>
		<!-- <div class="backgroundImage">
			<PortraitIndex
				imageSrc="https://source.unsplash.com/random/900x1600&1"
				/>
			<PortraitIndex
				imageSrc="https://source.unsplash.com/random/900x1600&2"
				/>
		</div> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	backgroundImage {
		position: absolute;
		margin: 0;
	}
	h1 {
		font-size: 3rem;
		font-weight: 500;
		margin: 0;
		text-align: center;
		color:var(--SECONDARY_COLOUR_CONTRAST);
	}
	.logo{
		width: 100%;
		margin-bottom: -20%;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
